#masthead {
  /*max-width: 1255px;*/
}

#masthead #logo {
  width: 25%;
}

#masthead .mainmenu {
  width: 75%;
}

h1#site-title {
  font-size: 18px;
}

body.page-onepage #main-menu a.active:link,
body.page-onepage #main-menu a.active:visited {
  color: #777;
}

body.page-onepage #main-menu a.active:hover,
body.page-onepage #main-menu a.active:active {
  color: #ed564b;
}

#onepage {
  max-width: 800px;
  margin: 0 auto;
}

#onepage .panel-pane .pane-title {
  text-align: center;
  text-transform: uppercase;
}

#onepage #how-it-works {
  text-align: center;
}

#onepage #clients {
  text-align: center;
}

#onepage #clients .clients-blocks {
  width: 100%;
  padding-top: 15px;
}

#onepage #clients .clients-block {
  width: 33%;
  display: inline-block;
  vertical-align: top;
  padding: 0 5px;
}

#onepage #join-our-mailing-list {
  max-width: 520px;
  margin: 0 auto;
}

#onepage #join-our-mailing-list .mailchimp-newsletter-mergefields,
#onepage #join-our-mailing-list .form-actions {
  max-width: 400px;
  margin: 0 auto;
}

#onepage #join-our-mailing-list .form-actions {
  text-align: center;
}

#onepage #join-our-mailing-list .mailchimp-signup-subscribe-form-description {
  text-align: center;
}

#onepage #join-our-mailing-list .form-item label {
  display: inline-block;
}

#onepage #join-our-mailing-list .form-item input,
#onepage #join-our-mailing-list .form-item textarea {
  width: 100%;
}

#onepage #contact-us {
  max-width: 400px;
  margin: 0 auto;
}

#onepage #contact-us .form-item input,
#onepage #contact-us .form-item textarea {
  width: 100%;
}

#onepage #contact-us .form-actions {
  text-align: center;
}

#onepage #social-media {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

#onepage #social-media ul.social-links > li {
  list-style: none;
  padding: 0;
  margin: 0 5px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  line-height: 18px;
}

#onepage #social-media ul.social-links > li > span {
  padding-left: 22px;
  display: inline-block;
}

#onepage #social-media ul.social-links > li.facebook {
  background-image: url("images/onepage/facebook.png");
}

#onepage #social-media ul.social-links > li.twitter {
  background-image: url("images/onepage/twitter.png");
}

#onepage #social-media ul.social-links > li.googleplus {
  background-image: url("images/onepage/googleplus.png");
}

#onepage #social-media ul.social-links > li.instagram {
  background-image: url("images/onepage/instagram.png");
}

#onepage #social-media ul.social-links > li.pinterest {
  background-image: url("images/onepage/pinterest.png");
}

#onepage #contact-info,
#onepage #footer-links {
  max-width: 520px;
  margin: 0 auto;
  text-align: center;
}

#onepage #footer-links .link-block {
  width: 50%;
}

#onepage #footer-links .left {
  float: left;
  text-align: left;
}

#onepage #footer-links .right {
  float: left;
  text-align: right;
}
