
/* Property node form */
#node_add_property #node_edit .field-name-field-product {
    display: none;
}

#node_add_property #node_edit .field-name-field-geo-position label,
#node_add_property #node_edit .field-name-field-geo-position div {
    /* show for now for debugging */
    /* display: none; */
}

/* Hide main menu icon */
/*.ui-icon-bars.ui-btn-icon-notext {
    display: none;
}*/


.view-row {
	padding-bottom: 10px;
	border-bottom: 1px solid rgb(145, 158, 169);
	margin-bottom: 35px;
}

.address {
	margin: 15px 0;
	text-decoration: none;
}

img {
	margin-left: 20px;
}

#reiscout_property_listing_view a.ui-link {
	color: rgba(145, 158, 169, 0.7);
	text-decoration: none;
	font-weight: 300;
}

#reiscout_property_listing_view a.ui-link:hover {
	color: rgb(128, 141, 152);
	font-weight: 300;
	text-shadow: 1px 1px 0 rgb(128, 141, 152);
}

.ui-content.region_content {
	background-image: url("reiscout_images/Logo_With_Text_opacity.png");
	background-size: 50%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
}


