@import url('https://use.fontawesome.com/releases/v5.0.6/css/solid.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600,700|Source+Sans+Pro:400,600,700|Pragati+Narrow:700|Roboto:400,700');

.template {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: normal;
    line-height: normal;
}

.template *, .template *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.template .front, .template .back {
    float: left;
    position: relative; /* This line is here, because #ink-free is positioned absolutely */
    padding: 0;
    width: 578px;   /* 6 in = 576 px (96 DPI) + 2px for the left and right borders. */
    height: 386px;  /* 4 in = 384 px (96 DPI) + 2px for the top and bottom borders. */
    border: 1px solid #ccc;
    border-radius: 4px;
}

.template .front {
    margin: 0 5px 0 0;
}

.template .back #ink-free {
    position: absolute;
    width: 3.2835in;
    height: 2.375in;
    right: 0.12in;
    bottom: 0.25in;
    border: solid 1px #DDD;
    background-color: white;
    color: #000;
}

.template .back #ink-free #postage-indicia {
    position: absolute;
    right: 0.33in;
    top: 0.29in;
    padding: 15px 0 15px 0;
    width: 75px;
    text-align: center;
    border: solid 1px #000;
    font-family: "Liberation Sans Narrow";
}

.template .back #ink-free #user-address {
    position: absolute;
    left: 0.12in;
    top: 0.34in;
    font-size: 9px;
}

.template .back #ink-free #owner-address {
    position: absolute;
    left: 0.12in;
    top: 1.24in;
    font-size: 13px;
    line-height: 18px;
}

/*- Real Estate (text) */
.real_estate_text .front,
.real_estate_text .back {
    font: normal 11pt Helvetica, Arial, sans-serif;
    background-color: #FFF110;
    color: #000;
}

.real_estate_text .front {
    padding: 10px 20px; /* Take into account the left (0.1875in) and the top (0.1875in) paddings of the safe-area */
}

.real_estate_text .back {
    padding: 70px 10px 10px 25px; /* Take into account the left (0.1875in) and the top (0.1875in) paddings of the safe-area */
}

.real_estate_text #top {
    font-size: 14.5pt;
    font-weight: bold;
    line-height: 22px;
}

.real_estate_text #middle {
    margin: 10pt 0 11pt 0;
    text-align: center;
    font-weight: bold;
}

.real_estate_text #middle .title {
    margin-bottom: 6pt;
    font-size: 18pt;
    font-style: italic;
    text-decoration: underline;
    color: #2E74B5;
}

.real_estate_text #middle .body {
    line-height: 13pt;
}

.real_estate_text #columns {
    margin-bottom: 10pt;
}
.real_estate_text #columns::after {
    content: "";
    clear: both;
    display: table;
}

.real_estate_text #columns .left {
    float: left;
    margin-left: 25pt;
}

.real_estate_text #columns .right {
    float: right;
    margin-right: 25pt;
}

.real_estate_text #bottom {
    font-size: 14pt;
    text-align: center;
    /* These lines overrides inherit properties */
    padding: 0;
    background: none;
    border: none;
}

.real_estate_text #phone {
    font-size: 19pt;
    font-weight: bold;
    text-align: center;
}

.real_estate_text #url {
    font-size: 15pt;
    font-weight: bold;
    text-align: center;
    color: #2E74B5;
}

.real_estate_text #title,
.real_estate_text #subtitle,
.real_estate_text #text {
    width: 200px;
}

.real_estate_text #title {
    font-size: 14.5pt;
    font-weight: bold;
    text-align: center;
}

.real_estate_text #subtitle {
    margin: 10pt 0 15pt 0;
    text-align: center;
    font-weight: bold;
}

/* Real Estate (text) -*/

/*- Roofing */
.roofing .front,
.roofing .back {
    font-family: 'Source Sans Pro', sans-serif;
    color: #FFF;
}

.roofing .front {
    padding-top: 20px;
    padding-left: 15px;
    background-image: url('html_templates/images/roofing_front.jpg');
    background-size: 6.25in 4.25in;
    background-repeat: no-repeat;
    background-position: center;
}

.roofing .back {
    padding-top: 45px;
    padding-left: 10px;
    background-image: url('html_templates/images/roofing_back.jpg');
    background-size: 6.25in 4.25in;
    background-repeat: no-repeat;
    background-position: center;
}

.roofing #psc_title {
    max-width: 200px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18pt;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 21pt;
}

.roofing .back #psc_title {
    max-width: 245px;
}

.roofing #psc_line {
    margin-left: 1pt;
    width: 42px;
    height: 8px;
    border-bottom: 2pt solid #FFF;
}

.roofing .psc_section_title {
    max-width: 232px;
    margin-top: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
    font-weight: 600;
    line-height: 14pt;
    text-transform: uppercase;
    color: #EF3734;
}

.roofing .back .psc_section_title {
    max-width: 215px;
}

.roofing .psc_description {
    max-width: 236px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 10.5pt;
    line-height: 10pt;
}

.roofing .back .psc_description {
    max-width: 188px;
}

.roofing #psc_phone {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 17pt;
}

.roofing #psc_phone::before {
    display: inline-block;
    width: 27px;
    height: 30px;
    margin-left: 1px;
    margin-right: 7px;
    padding-top: 2px;
    padding-right: 1px;
    background: #EF3734;
    content: '\f3cd';
    font-family: 'Font Awesome 5 Free';
    font-size: 17pt;
    font-weight: 900;
    text-align: center;
}

.roofing #psc_url {
    font-size: 11pt;
}

.roofing #psc_url::before {
    display: inline-block;
    width: 27px;
    height: 29px;
    margin-left: 1px;
    margin-right: 7px;
    padding-top: 5px;
    background: #EF3734;
    content: '\f0c1';
    font-family: 'Font Awesome 5 Free';
    font-size: 13pt;
    font-weight: 900;
    text-align: center;
}
/* Roofing -*/

/*- Template class 1 */
.roofing_raindrops .front, .roofing_raindrops .back,
.garage_door_repair .front, .garage_door_repair .back,
.general_trades .front, .general_trades .back,
.hvac_repair .front, .hvac_repair .back,
.lawn_care .front, .lawn_care .back,
.tree_service .front, .tree_service .back,
.women_fitness .front, .women_fitness .back {
    font-family: 'Source Sans Pro', sans-serif;
}

.roofing_raindrops .front div[id^='psc_banner'],
.garage_door_repair .front div[id^='psc_banner'],
.general_trades .front div[id^='psc_banner'],
.hvac_repair .front div[id^='psc_banner'],
.lawn_care .front div[id^='psc_banner'],
.tree_service .front div[id^='psc_banner'],
.women_fitness .front div[id^='psc_banner'] {
    height: 100%;
    background-size: 6in 4in;
    background-position: center;
    background-repeat: no-repeat;
}

.roofing_raindrops .front #psc_banner {
    background-image: url('html_templates/images/roofing_raindrops_front.jpg');
}

.garage_door_repair .front #psc_banner {
    background-image: url('html_templates/images/garage_door_repair_front.jpg');
}

.general_trades .front #psc_banner {
    background-image: url('html_templates/images/general_trades_front.jpg');
}

.hvac_repair .front #psc_banner {
    background-image: url('html_templates/images/hvac_repair_front.jpg');
}

.lawn_care .front #psc_banner {
    background-image: url('html_templates/images/lawn_care_front.jpg');
}

.tree_service .front #psc_banner {
    background-image: url('html_templates/images/tree_service_front.jpg');
}

.women_fitness .front #psc_banner {
    background-image: url('html_templates/images/women_fitness_front.jpg');
}

.roofing_raindrops .back,
.garage_door_repair .back,
.general_trades .back,
.hvac_repair .back,
.lawn_care .back,
.tree_service .back,
.women_fitness .back {
    color: #000;
}

.roofing_raindrops .back div[id^='psc_banner'],
.garage_door_repair .back div[id^='psc_banner'],
.general_trades .back div[id^='psc_banner'],
.hvac_repair .back div[id^='psc_banner'],
.lawn_care .back div[id^='psc_banner'],
.tree_service .back div[id^='psc_banner'],
.women_fitness .back div[id^='psc_banner'] {
    border-radius: 3px 3px 0 0;
    padding-top: .25in;
    height: 0.9063in; /* It is equal to 87px */
    background-color: #AC1A1C;
    font-weight: 700;
    font-size: .16in;
    text-transform: uppercase;
    letter-spacing: .03in;
    text-align: center;
    color: white;
}

.roofing_raindrops div[id^='psc_banner_image'],
.garage_door_repair div[id^='psc_banner_image'],
.general_trades div[id^='psc_banner_image'],
.hvac_repair div[id^='psc_banner_image'],
.lawn_care div[id^='psc_banner_image'],
.tree_service div[id^='psc_banner_image'],
.women_fitness div[id^='psc_banner_image'] {
    background-color: #FFF;
    background-size: 6in 0.9063in;
    background-repeat: no-repeat;
}

#psc_banner_image_bells_roofing {
    background-image: url("https://s3.amazonaws.com/reiscout/postcard_custom_header_bg_images/bells_roofing.jpg");
}

#psc_banner_total_telecom_management {
    background-image: url("https://s3.amazonaws.com/reiscout/postcard_bg_images/custom/total_telecom_management_front.jpg");
}

#psc_banner_janet_pickett_1 {
    background-image: url("https://s3.amazonaws.com/reiscout/postcard_bg_images/custom/janet_pickett_1_front.jpg");
}

#psc_banner_janet_pickett_2 {
    background-image: url("https://s3.amazonaws.com/reiscout/postcard_bg_images/custom/janet_pickett_2_front.jpg");
}

#psc_banner_threeoakservices_fatigued_landlord {
    background-image: url("https://s3.amazonaws.com/reiscout/postcard_bg_images/custom/threeoakservices_fatigued_landlord.jpg");
}

#total_telecom_management #psc_banner {
    background-color: #2A2A2A;
}

#total_telecom_management .psc_accent {
    color: #00A3E0;
}

#total_telecom_management #psc_code {
    color: #00A3E0;
    border: 2px solid #00A3E0;
}

#janet_pickett #psc_banner {
    background-color: #3D4B5C;
}

#janet_pickett .psc_accent {
    color: #6D7B8C;
}

#janet_pickett #psc_code {
    color: #3D4B5C;
    border: 2px solid #3D4B5C;
}

#threeoakservices_fatigued_landlord #psc_banner {
    background-color: #000;
}

#threeoakservices_fatigued_landlord .psc_accent {
    color: #9b7464;
}

#threeoakservices_fatigued_landlord #psc_code {
    color: #9b7464;
    border: 2px solid #9b7464;
}

.roofing_raindrops #subtitle,
.garage_door_repair #subtitle,
.general_trades #subtitle,
.hvac_repair #subtitle,
.lawn_care #subtitle,
.tree_service #subtitle,
.women_fitness #subtitle {
    letter-spacing: .02in;
}

.roofing_raindrops #psc_message,
.garage_door_repair #psc_message,
.general_trades #psc_message,
.hvac_repair #psc_message,
.lawn_care #psc_message,
.tree_service #psc_message,
.women_fitness #psc_message {
    margin-top: .185in;
    margin-left: .27in;
    width: 2.2in;
    font-weight: 400;
    font-size: .122in;
}

.roofing_raindrops .psc_description,
.garage_door_repair .psc_description,
.general_trades .psc_description,
.hvac_repair .psc_description,
.lawn_care .psc_description,
.tree_service .psc_description,
.women_fitness .psc_description {
    margin-bottom: 11px;
}

.roofing_raindrops .psc_accent,
.garage_door_repair .psc_accent,
.general_trades .psc_accent,
.hvac_repair .psc_accent,
.lawn_care .psc_accent,
.tree_service .psc_accent,
.women_fitness .psc_accent {
    color: #AC1A1C;
}

.roofing_raindrops #psc_code-banner,
.garage_door_repair #psc_code-banner,
.general_trades #psc_code-banner,
.hvac_repair #psc_code-banner,
.lawn_care #psc_code-banner,
.tree_service #psc_code-banner,
.women_fitness #psc_code-banner {
    text-align: center;
    font-size: .14in;
}

.roofing_raindrops #psc_code,
.garage_door_repair #psc_code,
.general_trades #psc_code,
.hvac_repair #psc_code,
.lawn_care #psc_code,
.tree_service #psc_code,
.women_fitness #psc_code {
    margin: .1in auto;
    padding: .1in;
    width: 2in;
    font-size: .15in;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .02in;
    color: #AC1A1C;
    border: 2px solid #AC1A1C;
}
/* Template class 1 -*/

/*- Two Columns Front */
.two_columns_front .front div[id^='psc-image'] {
    float: left;
    width: 264px;
    height: 100%;
    background-color: #EEE;
}

.two_columns_front .front div[id^='psc-text'] {
    float: left;
    padding-top: 20px;
    width: 312px;
    height: 100%;
    background-color: #000;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
}

.two_columns_front .front #psc-title {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Pragati Narrow', sans-serif;
    font-size: 26pt;
    line-height: 25pt;
}

.two_columns_front .front #psc-subtitle {
    margin-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
}

.two_columns_front .front #psc-line {
    margin: 7px 0 7px 15px;
    width: 260px;
    border-bottom: 2px solid #FFF;
}

.two_columns_front .front .psc-description {
    margin: 0 0 7px 15px;
    font-size: 10pt;
    line-height: 11pt;
}

.two_columns_front .front .psc-description ul {
    margin: 4px 0 0 0;
    padding-left: 30px;
}

.two_columns_front .front .psc-contacts {
    margin-top: 15px;
    font-size: 9pt;
    line-height: 10pt;
}

.two_columns_front .front .psc-address {
    margin: 15px 15px 0 0;
    text-align: right;
    font-size: 8pt;
    line-height: 9pt;
}

.two_columns_front #psc-image-allison-ambrose {
    /* The background image should have dimensions of 825x1200 pixels */
    background-image: url('https://s3.amazonaws.com/reiscout/postcard_bg_images/custom/allison_ambrose.jpg');
    background-size: 264px 4in;
    background-repeat: no-repeat;
}

.two_columns_front #psc-text-allison-ambrose {
    background-color: #3E4C5C;
    color: #FFF;
}

.two_columns_front div[id^='psc-banner'] {
    padding-top: .26in;
    height: 0.9063in; /* It is equal to 87px */
    background-color: #000;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Pragati Narrow', sans-serif;
    font-size: 13pt;
    line-height: 15pt;
}

.two_columns_front div[id^='psc-image-banner'] {
    height: 0.9063in; /* It is equal to 87px */
    background-color: #FFF;
    background-size: 6in 0.9063in;
    background-repeat: no-repeat;
}

.two_columns_front .back #psc-company-name {
    letter-spacing: 2.15pt;
}

.two_columns_front .back #psc-subtitle {
    letter-spacing: 1.45pt;
}

.two_columns_front div[id^='psc-message'] {
    margin: 20px 0 0 15px;
    width: 2.2in;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
    line-height: 11pt;
}

.two_columns_front .back .psc-description {
    margin-bottom: 12px;
}

.two_columns_front .back .psc-description ul {
    margin: 0;
    padding-left: 20px;
}

.two_columns_front #psc-frame {
    margin: 0 auto 12px auto;
    padding: 9px;
    width: 1.8in;
    border: 2px solid #000;
    text-align: center;
    font-weight: bold;
}

.two_columns_front #psc-image-banner-allison-ambrose {
    background-image: url("https://s3.amazonaws.com/reiscout/postcard_custom_header_bg_images/allison_ambrose.jpg");
    border-top: 1px solid #ceb998;
    border-bottom: 1px solid #ceb998;
}

.two_columns_front #psc-message-allison-ambrose {
    color: #F48018;
}

.two_columns_front #psc-message-allison-ambrose #psc-frame {
    color: #F48018;
    border-color: #F48018;
}
/* Two Columns Front -*/

.form-item-template-nid:after {
    display: table;
    content: '';
    clear: both;
}
