.template {
    margin-top: 10px;
}

.template .front, .template .back {
    float: left;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    font: normal 11pt Helvetica, Arial, sans-serif;
    background: #fff110;
    color: #000;
}

.template .front {
    width: 6in;
    height: 4.25in;
    margin: 0 5px 5px 0;
    padding: 25px;
}

.template .front #top {
    font-size: 14.5pt;
    font-weight: bold;
    line-height: 23px;
}

.template .front #middle {
    margin: 10pt 0 11pt 0;
    text-align: center;
    font-weight: bold;
}

.template .front #middle .title {
    margin-bottom: 6pt;
    font-size: 18pt;
    font-style: italic;
    text-decoration: underline;
    color: #2E74B5;
}

.template .front #middle .body {
    line-height: 13pt;
}

.template .front #columns {
    margin-bottom: 10pt;
}
.template .front #columns::after {
    content: "";
    clear: both;
    display: table;
}

.template .front #columns .left {
    float: left;
    margin-left: 25pt;
}

.template .front #columns .right {
    float: right;
    margin-right: 25pt;
}

.template .front #bottom {
    padding: 0;
    background: none;
    border: none;
    font-size: 14pt;
    text-align: center;
}

.template .front #phone {
    font-size: 19pt;
    font-weight: bold;
    text-align: center;
}

.template .front #url {
    font-size: 15pt;
    font-weight: bold;
    text-align: center;
    color: #2E74B5;
}

.template .back {
    width: 6in;
    height: 4.25in;
    padding: 85px 0 0 25px;
}

.template .back #title,
.template .back #subtitle,
.template .back #text {
    width: 180px;
}

.template .back #title {
    font-size: 14.5pt;
    font-weight: bold;
    text-align: center;
}

.template .back #subtitle {
    margin: 10pt 0 15pt 0;
    text-align: center;
    font-weight: bold;
}

.template .back #ink-free {
    position: absolute;
    width: 3.5in;
    height: 2.6in;
    top: 1.65in;
    left: 2.5in;
    background-color: white;
}

.template .back #ink-free #postage-indicia {
    position: absolute;
    right: 0.35in;
    top: 0.25in;
    padding: 15px 0 15px 0;
    width: 80px;
    text-align: center;
    border: solid 1px #000;
    font-family: "Liberation Sans Narrow";
}

.template .back #ink-free #user-address {
    position: absolute;
    left: 0.19in;
    top: 0.34in;
    font-size: 9px;
}

.template .back #ink-free #owner-address {
    position: absolute;
    left: 0.19in;
    top: 1.3in;
    font-size: 13px;
    line-height: 18px;
}

.form-item-template-nid:after {
    display: table;
    content: '';
    clear: both;
}