@import url('https://use.fontawesome.com/releases/v5.0.6/css/solid.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600,700|Source+Sans+Pro:400,600,700|Pragati+Narrow:700|Roboto:400,700');

.template {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: normal;
    line-height: normal;
}

.template *, .template *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.template .front, .template .back {
    float: left;
    position: relative; /* This line is here, because #ink-free is positioned absolutely */
    padding: 0;
    width: 578px;   /* 6 in = 576 px (96 DPI) + 2px for the left and right borders. */
    height: 386px;  /* 4 in = 384 px (96 DPI) + 2px for the top and bottom borders. */
    border: 1px solid #ccc;
    border-radius: 4px;
}

.template .front {
    margin: 0 5px 0 0;
}

.template .back #ink-free {
    position: absolute;
    width: 3.2835in;
    height: 2.375in;
    right: 0.12in;
    bottom: 0.25in;
    border: solid 1px #DDD;
    background-color: white;
    color: #000;
    font-family: 'Source Sans Pro', sans-serif;
}

.template .back #ink-free #postage-indicia {
    position: absolute;
    right: 0.33in;
    top: 0.29in;
    padding: 15px 0 15px 0;
    width: 75px;
    text-align: center;
    border: solid 1px #000;
    font-family: "Liberation Sans Narrow";
}

.template .back #ink-free #user-address {
    position: absolute;
    left: 0.12in;
    top: 0.34in;
    font-size: 9px;
}

.template .back #ink-free #owner-address {
    position: absolute;
    left: 0.12in;
    top: 1.24in;
    font-size: 13px;
    line-height: 18px;
}

/*- Real Estate (text) */
.real_estate_text .front,
.real_estate_text .back {
    font: normal 11pt Helvetica, Arial, sans-serif;
    background-color: #FFF110;
    color: #000;
}

.real_estate_text .front {
    padding: 10px 20px; /* Take into account the left (0.1875in) and the top (0.1875in) paddings of the safe-area */
}

.real_estate_text .back {
    padding: 70px 10px 10px 25px; /* Take into account the left (0.1875in) and the top (0.1875in) paddings of the safe-area */
}

.real_estate_text #top {
    font-size: 14.5pt;
    font-weight: bold;
    line-height: 22px;
}

.real_estate_text #middle {
    margin: 10pt 0 11pt 0;
    text-align: center;
    font-weight: bold;
}

.real_estate_text #middle .title {
    margin-bottom: 6pt;
    font-size: 18pt;
    font-style: italic;
    text-decoration: underline;
    color: #2E74B5;
}

.real_estate_text #middle .body {
    line-height: 13pt;
}

.real_estate_text #columns {
    margin-bottom: 10pt;
}
.real_estate_text #columns::after {
    content: "";
    clear: both;
    display: table;
}

.real_estate_text #columns .left {
    float: left;
    margin-left: 25pt;
}

.real_estate_text #columns .right {
    float: right;
    margin-right: 25pt;
}

.real_estate_text #bottom {
    font-size: 14pt;
    text-align: center;
    /* These lines overrides inherit properties */
    padding: 0;
    background: none;
    border: none;
}

.real_estate_text #phone {
    font-size: 19pt;
    font-weight: bold;
    text-align: center;
}

.real_estate_text #url {
    font-size: 15pt;
    font-weight: bold;
    text-align: center;
    color: #2E74B5;
}

.real_estate_text #title,
.real_estate_text #subtitle,
.real_estate_text #text {
    width: 200px;
}

.real_estate_text #title {
    font-size: 14.5pt;
    font-weight: bold;
    text-align: center;
}

.real_estate_text #subtitle {
    margin: 10pt 0 15pt 0;
    text-align: center;
    font-weight: bold;
}

/* Real Estate (text) -*/

/*- Roofing */
.roofing .front,
.roofing .back {
    font-family: 'Source Sans Pro', sans-serif;
    color: #FFF;
}

.roofing .front {
    padding-top: 20px;
    padding-left: 15px;
    background-image: url('https://s3.amazonaws.com/reiscout/postcard_images/roofing_front.jpg');
    background-size: 6.25in 4.25in;
    background-repeat: no-repeat;
    background-position: center;
}

.roofing .back {
    padding-top: 45px;
    padding-left: 10px;
    background-image: url('https://s3.amazonaws.com/reiscout/postcard_images/roofing_back.jpg');
    background-size: 6.25in 4.25in;
    background-repeat: no-repeat;
    background-position: center;
}

.roofing #psc_title {
    max-width: 200px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18pt;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 21pt;
}

.roofing .back #psc_title {
    max-width: 245px;
}

.roofing #psc_line {
    margin-left: 1pt;
    width: 42px;
    height: 8px;
    border-bottom: 2pt solid #FFF;
}

.roofing .psc_section_title {
    max-width: 232px;
    margin-top: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
    font-weight: 600;
    line-height: 14pt;
    text-transform: uppercase;
    color: #EF3734;
}

.roofing .back .psc_section_title {
    max-width: 215px;
}

.roofing .psc_description {
    max-width: 236px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 10.5pt;
    line-height: 10pt;
}

.roofing .back .psc_description {
    max-width: 188px;
}

.roofing #psc_phone {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 17pt;
}

.roofing #psc_phone::before {
    display: inline-block;
    width: 27px;
    height: 30px;
    margin-left: 1px;
    margin-right: 7px;
    padding-top: 2px;
    padding-right: 1px;
    background: #EF3734;
    content: '\f3cd';
    font-family: 'Font Awesome 5 Free';
    font-size: 17pt;
    font-weight: 900;
    text-align: center;
}

.roofing #psc_url {
    font-size: 11pt;
}

.roofing #psc_url::before {
    display: inline-block;
    width: 27px;
    height: 29px;
    margin-left: 1px;
    margin-right: 7px;
    padding-top: 5px;
    background: #EF3734;
    content: '\f0c1';
    font-family: 'Font Awesome 5 Free';
    font-size: 13pt;
    font-weight: 900;
    text-align: center;
}
/* Roofing -*/

/*- Image Front */
.image_front div[id^='psc-image'] {
    width: 100%;
    height: 100%;
    /* The background image should have dimensions of 1800x1200 pixels */
    background-size: 6in 4in;
    background-repeat: no-repeat;
    background-color: #EEE;
}

.image_front div[id^='psc-banner'] {
    padding-top: .26in;
    height: 0.9063in; /* It is equal to 87px */
    background-color: #000;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Pragati Narrow', sans-serif;
    font-size: 13pt;
    line-height: 15pt;
}

.image_front div[id^='psc-image-banner'] {
    height: 0.9063in; /* It is equal to 87px */
    background-color: #FFF;
    background-size: 6in 0.9063in;
    background-repeat: no-repeat;
}

.image_front #psc-company-name {
    letter-spacing: 2.15pt;
}

.image_front #psc-subtitle {
    letter-spacing: 1.45pt;
}

.image_front div[id^='psc-message'] {
    margin: 20px 0 0 15px;
    width: 2.2in;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
    line-height: 11pt;
}

.image_front .psc-description {
    margin-bottom: 12px;
}

.image_front .psc-description ul {
    margin: 0;
    padding-left: 20px;
}

.image_front #psc-frame {
    margin: 0 auto 12px auto;
    padding: 9px;
    width: 1.8in;
    border: 2px solid #AC1A1C;
    text-align: center;
    font-weight: bold;
    color: #AC1A1C;
}

.image_front .psc-accent {
    color: #AC1A1C;
}

/*- Roofing Raindrops */
.image_front #psc-image-roofing-raindrops {
    background-image: url('https://s3.amazonaws.com/reiscout/postcard_images/roofing_raindrops.jpg');
}

.image_front #psc-banner-roofing-raindrops {
    background-color: #9A928D;
}

.image_front #psc-message-roofing-raindrops #psc-frame {
    border-color: #9A928D;
    color: #9A928D;
}

.image_front #psc-message-roofing-raindrops .psc-accent {
    color: #9A928D;
}
/* Roofing Raindrops -*/

/*- Garage Door Repair */
.image_front #psc-image-garage-door-repair {
    background-image: url('https://s3.amazonaws.com/reiscout/postcard_images/garage_door_repair.jpg');
}

.image_front #psc-banner-garage-door-repair {
    background-color: #8E95A7;
}

.image_front #psc-message-garage-door-repair #psc-frame {
    border-color: #8E95A7;
    color: #8E95A7;
}

.image_front #psc-message-garage-door-repair .psc-accent {
    color: #8E95A7;
}
/* Garage Door Repair -*/

/*- General Trades */
.image_front #psc-image-general-trades {
    background-image: url('https://s3.amazonaws.com/reiscout/postcard_images/general_trades.jpg');
}

.image_front #psc-banner-general-trades {
    background-color: #8BA637;
}

.image_front #psc-message-general-trades #psc-frame {
    border-color: #8BA637;
    color: #8BA637;
}

.image_front #psc-message-general-trades .psc-accent {
    color: #8BA637;
}
/* General Trades -*/

/*- HVAC Repair */
.image_front #psc-image-hvac-repair {
    background-image: url('https://s3.amazonaws.com/reiscout/postcard_images/hvac_repair.jpg');
}

.image_front #psc-banner-hvac-repair {
    background-color: #557194;
}

#psc-message-hvac-repair #psc-frame {
    border-color: #557194;
    color: #557194;
}

.image_front #psc-message-hvac-repair .psc-accent {
    color: #557194;
}
/* HVAC Repair -*/

/*- Lawn Care */
.image_front #psc-image-lawn-care {
    background-image: url('https://s3.amazonaws.com/reiscout/postcard_images/lawn_care.jpg');
}

.image_front #psc-banner-lawn-care {
    background-color: #7A982A;
}

.image_front #psc-message-lawn-care #psc-frame {
    border-color: #7A982A;
    color: #7A982A;
}

.image_front #psc-message-lawn-care .psc-accent {
    color: #7A982A;
}
/* Lawn Care -*/

/*- Tree Service */
.image_front #psc-image-tree-service {
    background-image: url('https://s3.amazonaws.com/reiscout/postcard_images/tree_service.jpg');
}

.image_front #psc-banner-tree-service {
    background-color: #9C814E;
}

.image_front #psc-message-tree-service #psc-frame {
    border-color: #9C814E;
    color: #9C814E;
}

.image_front #psc-message-tree-service .psc-accent {
    color: #9C814E;
}
/* Tree Service -*/

/*- Women Fitness */
.image_front #psc-image-women-fitness {
    background-image: url('https://s3.amazonaws.com/reiscout/postcard_images/women_fitness.jpg');
}

.image_front #psc-banner-women-fitness {
    background-color: #810425;
}

.image_front #psc-message-women-fitness #psc-frame {
    border-color: #810425;
    color: #810425;
}

.image_front #psc-message-women-fitness .psc-accent {
    color: #810425;
}
/* Women Fitness -*/

/*- Total Telecom Management */
.image_front #psc-image-total-telecom-management {
    background-image: url("https://s3.amazonaws.com/reiscout/postcard_images/total_telecom_management.jpg");
}

.image_front #psc-banner-total-telecom-management {
    background-color: #1E3D6B;
}

.image_front #psc-message-total-telecom-management #psc-frame {
    border-color: #1E3D6B;
    color: #1E3D6B;
}

.image_front #psc-message-total-telecom-management .psc-accent {
    color: #1E3D6B;
}
/* Total Telecom Management -*/

/*- Fatigued Landlord */
.image_front #psc-image-threeoakservices-fatigued-landlord {
    background-image: url("https://s3.amazonaws.com/reiscout/postcard_images/threeoakservices_fatigued_landlord.jpg");
}

.image_front #psc-banner-threeoakservices-fatigued-landlord {
    background-color: #66554D;
}

.image_front #psc-message-threeoakservices-fatigued-landlord #psc-frame {
    border-color: #66554D;
    color: #66554D;
}

.image_front #psc-message-threeoakservices-fatigued-landlord .psc-accent {
    color: #66554D;
}
/* Fatigued Landlord -*/

/*- Bell's Roofing */
.image_front #psc-image-banner-bells-roofing {
    background-image: url("https://s3.amazonaws.com/reiscout/postcard_images/bells_roofing_back_header.jpg");
}

.image_front #psc-message-bells-roofing #psc-frame {
    border-color: #E31A22;
    color: #E31A22;
}

.image_front #psc-message-bells-roofing .psc-accent {
    color: #E31A22;
}
/* Bell's Roofing -*/
/* Image Front -*/

/*- Two Columns Front */
.two_columns_front .front div[id^='psc-image'] {
    float: left;
    width: 264px;
    height: 100%;
    /* The background image should have dimensions of 825x1200 pixels */
    background-size: 264px 4in;
    background-repeat: no-repeat;
    background-color: #EEE;
}

.two_columns_front .front div[id^='psc-text'] {
    float: left;
    padding-top: 20px;
    width: 312px;
    height: 100%;
    background-color: #000;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
}

.two_columns_front .front #psc-title {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Pragati Narrow', sans-serif;
    font-size: 26pt;
    line-height: 25pt;
}

.two_columns_front .front #psc-subtitle {
    margin-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
}

.two_columns_front .front #psc-line {
    margin: 7px 0 7px 15px;
    width: 260px;
    border-bottom: 2px solid #FFF;
}

.two_columns_front .front .psc-description {
    margin: 0 0 7px 15px;
    font-size: 10pt;
    line-height: 11pt;
}

.two_columns_front .front .psc-description ul {
    margin: 4px 0 0 0;
    padding-left: 30px;
}

.two_columns_front .front .psc-contacts {
    margin-top: 15px;
    font-size: 9pt;
    line-height: 10pt;
}

.two_columns_front .front .psc-address {
    margin: 15px 15px 0 0;
    text-align: right;
    font-size: 8pt;
    line-height: 9pt;
}

.two_columns_front div[id^='psc-banner'] {
    padding-top: .26in;
    height: 0.9063in; /* It is equal to 87px */
    background-color: #000;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Pragati Narrow', sans-serif;
    font-size: 13pt;
    line-height: 15pt;
}

.two_columns_front div[id^='psc-image-banner'] {
    height: 0.9063in; /* It is equal to 87px */
    background-color: #FFF;
    background-size: 6in 0.9063in;
    background-repeat: no-repeat;
}

.two_columns_front .back #psc-company-name {
    letter-spacing: 2.15pt;
}

.two_columns_front .back #psc-subtitle {
    letter-spacing: 1.45pt;
}

.two_columns_front div[id^='psc-message'] {
    margin: 20px 0 0 15px;
    width: 2.2in;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
    line-height: 11pt;
}

.two_columns_front .back .psc-description {
    margin-bottom: 12px;
}

.two_columns_front .back .psc-description ul {
    margin: 0;
    padding-left: 20px;
}

.two_columns_front #psc-frame {
    margin: 0 auto 12px auto;
    padding: 9px;
    width: 1.8in;
    border: 2px solid #AC1A1C;
    text-align: center;
    font-weight: bold;
    color: #AC1A1C;
}

.two_columns_front .psc-accent {
    color: #AC1A1C;
}

/*- Allison Ambrose */
.two_columns_front #psc-image-allison-ambrose {
    background-image: url('https://s3.amazonaws.com/reiscout/postcard_images/allison_ambrose.jpg');
}

.two_columns_front #psc-text-allison-ambrose {
    background-color: #3E4C5C;
    color: #FFF;
}

.two_columns_front #psc-image-banner-allison-ambrose {
    background-image: url("https://s3.amazonaws.com/reiscout/postcard_images/allison_ambrose_back_header.jpg");
    border-top: 1px solid #ceb998;
    border-bottom: 1px solid #ceb998;
}

.two_columns_front #psc-message-allison-ambrose {
    min-height: 255px;
    border-right: 3px solid #F48018;
    color: #F48018;
}

.two_columns_front #psc-message-allison-ambrose #psc-frame {
    color: #F48018;
    border-color: #F48018;
    border-width: 1px;
    font-weight: normal;
}
/* Allison Ambrose -*/

/*- Janet Pickett */
.two_columns_front #psc-image-janet-pickett-black {
    background-image: url('https://s3.amazonaws.com/reiscout/postcard_images/janet_pickett_black.jpg');
}

.two_columns_front #psc-image-janet-pickett-white {
    background-image: url('https://s3.amazonaws.com/reiscout/postcard_images/janet_pickett_white.jpg');
}

.two_columns_front #psc-text-janet-pickett {
    background-color: #3E4C5C;
    color: #FFF;
}

.two_columns_front #psc-banner-janet-pickett {
    background-color: #3E4C5C;
}

.two_columns_front #psc-message-janet-pickett #psc-frame {
    color: #3E4C5C;
    border-color: #3E4C5C;
}

.two_columns_front #psc-message-janet-pickett .psc-accent {
    color: #3E4C5C;
}
/* Janet Pickett -*/
/* Two Columns Front -*/

.form-item-template-nid:after {
    display: table;
    content: '';
    clear: both;
}
