#property-table-form table {
  line-height: 1.4;
}

#property-table-form #edit-list,
#property-table-form .form-type-radio.form-item-list,
#property-table-form .form-item-case-file-date-from-date,
#property-table-form .form-item-case-file-date-to-date,
#property-table-form .form-item-market-value-from,
#property-table-form .form-item-market-value-to,
#property-table-form .form-item-beds,
#property-table-form .form-item-beds-from,
#property-table-form .form-item-beds-to,
#property-table-form .form-item-baths,
#property-table-form .form-item-baths-from,
#property-table-form .form-item-baths-to,
#property-table-form .form-item-rooms,
#property-table-form .form-item-rooms-from,
#property-table-form .form-item-rooms-to,
#property-table-form .form-item-built-from,
#property-table-form .form-item-built-to {
  display: inline-block;
}

#property-table-form .container-inline-date {
  display: inline;
}

#property-table-form .container-inline-date input {
  margin: 0;
}

#property-table-form #edit-list {
  margin-left: 2px;
}

#property-table-form .form-type-radio.form-item-list {
  margin-top: 0;
  margin-bottom: 0;
}

#property-table-form .form-type-radio label {
  margin-left: 1px;
}

#property-table-form .form-type-radio.form-item-list:first-child {
  margin-right: 3px;
}

#property-table-form .form-item-list input,
#property-table-form .form-item-hide-sold-after-case-file-date input {
  margin: 0;
}

#property-table-form .form-item-case-file-date-from,
#property-table-form .form-item-case-file-date-to {
  margin-bottom: 1em;
  margin-top: 2px;
}

#property-table-form .form-item-case-file-date-from .date-padding,
#property-table-form .form-item-case-file-date-to .date-padding {
  float: none;
}

#property-table-form .form-item-case-file-date-from .description,
#property-table-form .form-item-case-file-date-to .description {
  display: none;
}

#property-table-form .form-item-market-value-from,
#property-table-form .form-item-beds,
#property-table-form .form-item-beds-from,
#property-table-form .form-item-baths,
#property-table-form .form-item-baths-from,
#property-table-form .form-item-rooms,
#property-table-form .form-item-rooms-from,
#property-table-form .form-item-built-from {
  margin-right: 7px;
}

#property-table-form #showing-rows-info {
  margin-bottom: 1px;
  text-align: right;
}

#property-table-form th#owner-info {
  min-width: 280px;
}

#property-table-form .owner-status {
  font-size: 0.9em;
  text-align: right;
}

#property-table-form .owner-phone.in-dnc {
  background-color: #E80000;
}

#property-table-form .owner-phone.in-dnc a {
  color: #EEE;
}

#property-table-form .owner-phone.in-dnc a:hover {
  color: #000;
}

#property-table-form .form-actions {
  margin: 0;
  padding-top: 0;
}

#property-table-form .crm-fields {
  margin-top: 2px;
}

#property-table-form .crm-fields .field {
  display: flex;
}

#property-table-form .crm-fields .field .title {
  margin-right: 4px;
  color: #000;
  white-space: nowrap;
}

#property-table-form .crm-fields .field .value {
  flex-grow: 1;
}

#property-table-form .crm-fields .field input,
#property-table-form .crm-fields .field select {
  margin: 0;
  padding: 1px;
}

#property-table-form .crm-fields .field .icon {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

#property-table-form .crm-fields .field .icon.save {
  background: url('images/save.png') no-repeat;
}

#jquery-dialog-message-property-deleted,
#jquery-dialog-message-403 {
  display: none;
}

#jquery-dialog-message-403 a {
  color: #F4473A;
}

@media screen and (min-width: 421px) {
  #property-table-form .crm-fields .field:hover .icon.edit {
    background: url('images/edit.svg') no-repeat;
  }
}

@media screen and (max-width: 420px) {
  #property-table-form .owner-phones {
    margin: 7px 0;
    font-size: 130%
  }

  #property-table-form .owner-phone:not(:last-child) {
    margin-bottom: 7px;
  }

  #property-table-form .crm-fields .field {
    line-height: 24px;
  }

  #property-table-form .crm-fields .field .icon {
    width: 24px;
    height: 24px;
  }

  #property-table-form .crm-fields .field .icon.edit {
    background: url('images/edit-24.svg') no-repeat;
  }

  #property-table-form .crm-fields .field .icon.save {
    background: url('images/save-24.png') no-repeat;
  }

  #property-table-form .crm-fields .lead-status {
    margin-top: 9px;
  }
}
